h1{
    color:antiquewhite;
    text-align: center;
    background-color: rgb(61, 85, 97);
    font-size: 40px;
    margin-bottom: 40px;

    



    

   
}
img{
    height: 200px; 
    display: block;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-bottom: 300px;
    
   
}
button{
    width: 75px;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: bold;
    
    
}
button:hover{
    color:lightseagreen;
    /* background-color: goldenrod; */
}
.right{
    margin: 50px 0 ;

}





